<div id="cms_placeholder-bar-<?= $id ?>" class="cms_reset cms_placeholder-bar">
	<div class="cms_placeholder-title"><?= $title ?></div>
	<div class="cms_placeholder-btn">
		<a href="#"><span>Plugins</span></a>
		<ul>
			<li class="title"><span>Core plugins</span></li>
			<li><a href="#">Text</a></li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Picture</a></li>
			<li><a href="#">File</a></li>
			<li><a href="#">Flash/Video</a></li>
			<li class="title"><span>Advanced plugins</span></li>
			<li><a href="#">Google Map</a></li>
			<li><a href="#">Teaser</a></li>
			<li><a href="#">Twitter</a></li>
			<li><a href="#">Snippet</a></li>
			<li><a href="#">Inherit</a></li>
		</ul>
	</div>
</div>