env/
*.pyc
*.pyo
*~
.hg
.git
.svn
.DS_Store
.settings
.project
.pydevproject
.installed.cfg
.mr.developer.cfg
bin
develop-eggs
develop-eggs-src
dist
downloads
eggs
parts
build
*.egg-info
*.db
.idea/
.sass-cache/
tmp/
bootstrap.py
personal*.cfg