<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
	<title>django CMS</title>
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<!-- meta tags -->
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!-- stylesheets -->
	<link rel="stylesheet" href="/static/css/base.css?v=1" />

<style>

body { background:#fff; padding:10px; }
h1 { font-size:11px; color:#666; text-transform:uppercase; padding:0 10px; }
p { padding:0 10px; }

</style>

<body class="no-js tpl_master en anonymus">

<h1>Pages</h1>

<p>page tree wehee</p>

<!-- include javascript -->
<script src="/static/js/libs/jquery.min.js"></script>
<script src="/static/js/base.js"></script>
</body>
</html>