<script type="text/javascript">
	var _jQuery = window.jQuery || null;
	var _$ = window.$;
</script>
<script type="text/javascript" src="/static/js/libs/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/libs/class.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/cms.toolbar.js"></script>
{% if g.edit %}
<script type="text/javascript" src="/static/js/plugins/cms.placeholders.js"></script>
{% endif %}
{% if g.layout %}
<script type="text/javascript" src="/static/js/plugins/cms.layout.js"></script>
<script type="text/javascript" src="/static/js/plugins/jquery.dragndrop.js"></script>
{% endif %}

<link rel="stylesheet" type="text/css" href="/static/css/plugins/cms.toolbar.css" />
<link rel="stylesheet" type="text/css" href="/static/css/plugins/cms.placeholders.css" />
<script type="text/javascript">
jQuery(document).ready(function ($) {
	new CMS.Toolbar('#cms_toolbar');
	{% if g.edit %}new CMS.Placeholders();{% endif %} // should each be initialized individually
	{% if g.layout %}new CMS.Layout();{% endif %} // should each be initialized individually
});
</script>
<script type="text/javascript">
	window.jQuery = _jQuery || jQuery;
	window.$ = _$ || jQuery;
</script>

<div id="cms_toolbar" class="cms_reset">
	<!-- start: toolbar -->
	<div class="cms_toolbar">
		<div class="cms_toolbar-left">
			<div class="cms_toolbar-item cms_toolbar-item_logo"><a href="/"><span>django CMS</span></a></div>
			<ul class="cms_toolbar-item cms_toolbar-item_navigation">
				<li>
					<a href="/admin/"><span>Admin</span></a>
					<ul>
						<li><a href="/admin/dashboard/" rel="sideframe"><span>Administration</span></a></li>
						<li><a href="/admin/cms/page/" rel="sideframe"><span>Pages</span></a></li>
						<li><a href="/admin/auth/user/" rel="sideframe"><span>Users</span></a></li>
						<li><hr/></li>
						<li><a href="/admin/logout/" rel="ajax"><span><strong>Logout</strong></span></a></li>
					</ul>
				</li>
				<li>
					<a href="/admin/cms/page/1/"><span>Page</span></a>
					<ul>
						<li><a href="/admin/cms/page/1/" rel="sideframe"><span>Edit settings</span></a></li>
						<li><a href="/admin/cms/page/1/delete/" rel="ajax"><span>Delete page</span></a></li>
					</ul>
				</li>
				<li>
					<a href="/admin/cms/page/1/"><span>Template</span></a>
					<ul>
						<li class="active"><a href="/admin/cms/page/1/change_template/?template=tpl_master.html" rel="ajax"><span>Master template</span></a></li>
						<li><a href="/admin/cms/page/1/change_template/?template=tpl_two-column.html" rel="ajax"><span>Two column template</span></a></li>
						<li><a href="/admin/cms/page/1/change_template/?template=tpl_three-column.html" rel="ajax"><span>Three column template</span></a></li>
					</ul>
				</li>
				<li{% if not request.args %} class="cms_toolbar-item_navigation-disabled"{% endif %}>
					<a href="/admin/"><span>Publish</span></a>
					<ul>
						<li><a href="#" rel="ajax"><span>Publish now</span></a></li>
						<li><a href="#" rel="ajax"><span>Revert to live</span></a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="cms_toolbar-right">
			{% if request.args %}
			<ul class="cms_toolbar-item cms_toolbar-item_buttons">
				<li{% if g.edit %} class="active"{% endif %}><a href="?edit=true"><span>Edit</span></a></li>
				<li{% if g.layout %} class="active"{% endif %}><a href="?layout=true"><span>Layout</span></a></li>
				<li{% if g.view %} class="active"{% endif %}><a href="?view=true"><span>View</span></a></li>
			</ul>
			{% endif %}
			<ul class="cms_toolbar-item cms_toolbar-item_switches">
				<li><a href="/?edit=true">Draft</a></li>
				<li class="cms_toolbar-item_switch {% if request.args %}draft{% else %}live{% endif %}"><a href="{% if request.args %}/{% else %}/?edit=true{% endif %}"><span>switch</span></a></li>
				<li><a href="/" {% if not request.args %}class="live"{% endif %}>Live</a></li>
			</ul>
		</div>
	</div>
	<div class="cms_toolbar-trigger">
		<ul class="cms_toolbar-item">
			<li><a href="#"><span class="arrow-up"></span></a></li>
		</ul>
	</div>
	<!-- end: toolbar -->

	<!-- start: additions -->
	<div id="cms_sideframe">
		<div class="cms_sideframe-resize"><span class="cms_sideframe-knob"></span></div>
		<div class="cms_sideframe-frame"></div>
		<div class="cms_sideframe-frame-overlay"></div>
	</div>

	<div class="cms_placeholders-tooltip"><span class="iconic pen_alt_fill"></span>Double-click to edit</div>
</div>
