<div>
<!-- header -->
<header id="header">
	<div class="header-top">
		<div class="container_12 grid_12">
			<nav class="meta">
				<ul>
					<li><a href="/en/meta/blog/">Blog</a></li>
					<li><a href="/en/meta/knowledge/faq">FAQ</a></li>
					<li><a href="https://control.djeese.com">Login</a></li>
				</ul>
			</nav>
		</div>
	</div>

	<div class="header-main">
		<div class="container_12 grid_12">
			<a id="logo" class="elements-logo" href="/en/">djee.se</a>
			<nav>
				<ul>
					<li class="selected"><a href="/en/">Home</a></li>
					<li class="sibling"><a href="/en/features/administration/">Features</a></li>
					<li class="sibling"><a href="/en/how-to/">How to</a></li>
					<li class="sibling"><a href="/en/pricing/">Pricing</a></li>
					<li class="sibling"><a href="/en/about/who-we-are">About</a></li>
					<li><a href="https://control.djeese.com/signup/" class="button yellow">Sign Up</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>

<p>&nbsp;</p>

{% if not g.layout %}
{% include "toolbar/view_edit.html" %}
{% else %}
{% include "toolbar/view_layout.html" %}
{% endif %}
<div class="clear"></div>

<p>&nbsp;</p>

<!-- footer -->
<footer id="footer">
	<div class="container_12 grid_12">
		<div class="footer-nav">
			<div class="left">
				<a href="">djeese</a> is a <a href="/en/about/">Djeese Factory GmbH</a> product |
				<span>Follow us on <a href="http://twitter.com/djeese">twitter</a></span> |
				<span>Add us on <a href="https://plus.google.com/114173724349368321537/?prsrc=3">Google+</a></span>
			</div>
			<div class="right">
				<a href="/en/legal/privacy-policy/">Privacy Policy</a> | <a href="/en/legal/terms-service/">Terms of Service</a> | <a href="/en/legal/site-notice">Site Notice</a> | <a href="http://status.djeese.com">Status</a>
			</div>
		</div>
	</div>
</footer>
</div>