<!-- header -->
<header id="header">
	<div class="header-top">
		<div class="container_12 grid_12">
			<nav class="meta">
				<ul>
					<li><a href="/en/meta/blog/">Blog</a></li>
					<li><a href="/en/meta/knowledge/faq">FAQ</a></li>
					<li><a href="https://control.djeese.com">Login</a></li>
				</ul>
			</nav>
		</div>
	</div>

	<div class="header-main">
		<div class="container_12 grid_12">
			<a id="logo" class="elements-logo" href="/en/">djee.se</a>
			<nav>
				<ul>
					<li class="selected"><a href="/en/">Home</a></li>
					<li class="sibling"><a href="/en/features/administration/">Features</a></li>
					<li class="sibling"><a href="/en/how-to/">How to</a></li>
					<li class="sibling"><a href="/en/pricing/">Pricing</a></li>
					<li class="sibling"><a href="/en/about/who-we-are">About</a></li>
					<li><a href="https://control.djeese.com/signup/" class="button yellow">Sign Up</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>

<p>&nbsp;</p>

<!-- content -->
<div class="container_12">
	<!-- placeholder bar -->
	{{ render_placeholder_bar('Feature') }}

	{{ render_placeholder('start') }}
		{{ render_placeholder('start') }}
		<div class="grid_5">
			{{ render_placeholder('start') }}
			<p><img src="/static/img/dummy/say_djeese.jpg" alt="" /></p>
			{{ render_placeholder('end') }}

			{{ render_placeholder('start') }}
			<h3>The easiest way to build &nbsp;<br>websites with django CMS.</h3>
				{% if g.draft %}<h4>This is some draft text that is not published</h4>{% endif %}
			{{ render_placeholder('end') }}

			{{ render_placeholder('start') }}
			<h4>And here's how it works…</h4>
			<p>&nbsp;</p>
			{{ render_placeholder('end') }}
		</div>
		{{ render_placeholder('end') }}

		{{ render_placeholder('start') }}
		<div class="grid_7">
			{{ render_placeholder('start') }}
			<p style="float:right;"><img src="/static/img/dummy/screenshot.jpg" alt="" style="max-width:100%;" /></p>
			{{ render_placeholder('end') }}
		</div>
		<div class="clearfix"></div>
		{{ render_placeholder('end') }}
	{{ render_placeholder('end') }}
</div>

<section class="container_12">
	<div class="content">
		<!-- placeholder bar -->
		{{ render_placeholder_bar('Content') }}

		{{ render_placeholder('start') }}
		<article class="left" style="float:left; width:50%;">
			{{ render_placeholder('start') }}
			<h3>Let's say you have a nice web design</h3>
			<p>You know how to build CSS/HTML and you are familiar with Django? Then all you need to add django CMS to the equation is djeese.</p>
			{{ render_placeholder('end') }}

			{{ render_placeholder('start') }}
			<p>Djeese will setup and host a django CMS for you within minutes. It allows you further to add custom apps and gives you full control over your CSS files and templates.</p>
			<p><strong>Still interested? Then keep on reading!</strong></p>
			{{ render_placeholder('end') }}
		</article>
		{{ render_placeholder('end') }}

		{{ render_placeholder('start') }}
		<article class="left" style="float:left; width:50%;">
			{{ render_placeholder('start') }}
			<p><img  alt="Stopwatch" src="/static/img/dummy/webdesign.jpg" /></p>
			{{ render_placeholder('end') }}
		</article>
		{{ render_placeholder('end') }}

		{{ render_placeholder('start') }}<div class="clearfix"></div>{{ render_placeholder('end') }}

		{{ render_placeholder('start') }}
		<p><img alt="" src="/static/img/dummy/hr-arrow-left_3.jpg" /><p>
		{{ render_placeholder('end') }}

		{{ render_placeholder('start') }}
		<article class="left" style="float:left; width:55%;">
			{{ render_placeholder('start') }}
			<p><img alt="" src="/static/img/dummy/add_website.jpg" /></p>
			{{ render_placeholder('end') }}
		</article>
		{{ render_placeholder('end') }}

		{{ render_placeholder('start') }}
		<article class="left" style="float:left; width:45%;">
			{{ render_placeholder('start') }}
			<h4>Setting up the website</h4>
			<p><strong>It's actually as simple as that</strong><br/>Within djeese just add as many websites as you wish.</p>
			{{ render_placeholder('end') }}
			{{ render_placeholder('start') }}
			<p>
			•   Choose your own domain name<br/>
			•   Configure your django CMS easily<br/>
			•   And start <strong>customizing it…</strong>
			</p>
			{{ render_placeholder('end') }}
		</article>
		{{ render_placeholder('end') }}

		{{ render_placeholder('start') }}<div class="clearfix"></div>{{ render_placeholder('end') }}

		{{ render_placeholder('start') }}
		<p><img alt="" src="/static/img/dummy/hr-arrow-right_4.jpg" /><p>
		{{ render_placeholder('end') }}

		{{ render_placeholder('start') }}
		<article class="left" style="float:left; width:45%;">
			{{ render_placeholder('start') }}
			<h4>Customize your website</h4>
			<p><strong>Choose from a variety of apps or use your own</strong><br/>Add them with one-click to your website</p>
			<p>
			•  You don’t have to rewrite your existing apps<br/>
			•  Easily keep them up-to-date for your websites<br/>
			•  Use the evergrowing built-in app store
			</p>
			{{ render_placeholder('end') }}
		</article>
		{{ render_placeholder('end') }}

		{{ render_placeholder('start') }}
		<article class="left" style="float:left; width:55%;">
			{{ render_placeholder('start') }}
			<p><img alt="" src="/static/img/dummy/sackmesser.jpg" /></p>
			{{ render_placeholder('end') }}
		</article>
		{{ render_placeholder('end') }}

		{{ render_placeholder('start') }}<div class="clearfix"></div>{{ render_placeholder('end') }}

		{{ render_placeholder('start') }}
		<p><img alt="" src="/static/img/dummy/hr-arrow-left_3.jpg" /></p>
		{{ render_placeholder('end') }}

		{{ render_placeholder('start') }}
		<div style="position: relative">
			<div style="position: absolute; left: 470px;">
				{{ render_placeholder('start') }}
				<h4 style="margin-top:0;">Create CSS/HTML with online content</h4>
				<p><strong>Use your favorite tools to edit CSS/HTML</strong><br />Test your local files with online content.</p>
				{{ render_placeholder('end') }}
			</div>
		</div>
		{{ render_placeholder('end') }}

		{{ render_placeholder('start') }}
		<p><img alt="" src="/static/img/dummy/online_data.jpg"></p>
		{{ render_placeholder('end') }}
		{{ render_placeholder('start') }}
		<p style="margin-left: 90px; margin-top: -80px;"><a href="http://vimeo.com/36572241" class="button yellow">Click to watch video</a></p>
		{{ render_placeholder('end') }}

		{{ render_placeholder('start') }}
		<p><img alt="" src="/static/img/dummy/hr-arrow-right_4.jpg" /></p>
		{{ render_placeholder('end') }}

		{{ render_placeholder('start') }}
		<h4>Please let me introduce: The djeese workflow</h4>
		<p><img alt="" src="/static/img/dummy/workflow_home.jpg" /></p>
		<p style="text-align: center; width: 370px; float: left;"><strong>Bring the files to your computer</strong><br/>After you have chosen a boilerplate just clone the files to your local machine with the free <br/>djeese command line tool.</p>
		<p style="text-align: center; width: 410px; float: left; margin: 0 20px;"><strong>Shape the files to fit your needs</strong><br/>When you’re happy with your files just push them back with djeese command line tool. One additional click and your changes are deployed and live!</p>
		<!-- TODO: what happens when you forget the clearfix -->
		<!--<div class="clearfix"></div>-->
		{{ render_placeholder('end') }}

		{{ render_placeholder('start') }}
		<p><img alt="" src="/static/img/dummy/hr-arrow-left_3.jpg" /><p>
		{{ render_placeholder('end') }}

		{{ render_placeholder('start') }}
		<p><img class="left" alt="" src="/static/img/dummy/cloud.jpg" /></p>
		{{ render_placeholder('end') }}

		{{ render_placeholder('start') }}
		<h4>And yes, it’s all in the cloud</h4>
		<p><strong>Keeping your websites up-to-date</strong><br/>One click to update django CMS, one click to update your apps. It has never been easier to maintain your website.</p>
		<p>Still interested? Then just</p>
		<p><a href="https://control.djeese.com/signup/" class="button yellow">Sign up for free</a></p>
		<p>&nbsp;</p>
		{{ render_placeholder('end') }}
	</div>
	<div class="clearfix"></div>
</section>

<p>&nbsp;</p>

<div class="container_12">
	<div class="grid_4">
		<!-- placeholder bar -->
		{{ render_placeholder_bar('Left column') }}

		{{ render_placeholder('start') }}
		<div class="plugin_twitter">
			{{ render_placeholder('start') }}
			<h5>Some tweets about djeese</h5>
			{{ render_placeholder('end') }}
			<div id="twitter-container-146"></div>
			<span class="twitter-follow"><span class="twitter-grey"></span><a href="http://twitter.com/djeese">Follow us on twitter</a></span>
		</div>
		{{ render_placeholder('end') }}
	</div>
	<div class="grid_4">
		<!-- placeholder bar -->
		{{ render_placeholder_bar('Middle column') }}

		{{ render_placeholder('start') }}
		<div class="plugin_latest_entries">
			{{ render_placeholder('start') }}
			<h5>News from our blog</h5>
			{{ render_placeholder('end') }}
			<hr/>
			<p><strong><a href="/en/meta/blog/2012/02/13/open-beta/">Open Beta</a></strong><br/><small>13 February 2012</small></p>
			<hr/>
			<p><strong><a href="/en/meta/blog/2011/12/05/announcing-applications/">Announcing applications</a></strong><br/><small>05 December 2011</small></p>
			<hr/>
			<p><strong><a href="/en/meta/blog/2011/11/18/relaunched-our-website/">Relaunched our website</a></strong><br/><small>18 November 2011</small></p>
		</div>
		{{ render_placeholder('end') }}
	</div>
	<div class="grid_4">
		<!-- placeholder bar -->
		{{ render_placeholder_bar('Right column') }}

		{{ render_placeholder('start') }}
		<h5>Security &amp; Privacy</h5>
		{{ render_placeholder('end') }}
		{{ render_placeholder('start') }}
		<hr/>
		{{ render_placeholder('end') }}
		{{ render_placeholder('start') }}
		<p class="left"><small><span class="plugin_link"><a href="/en/features/security/">Security</a></span><br/></small><small><span class="plugin_link"><a href="/en/legal/privacy-policy/">Privacy Policy</a></span></small><br/> <small><span class="plugin_link"><a href="/en/legal/terms-service/">Terms of Service</a></span></small></p>
		{{ render_placeholder('end') }}
		{{ render_placeholder('start') }}
		<p style="padding-top: 10px;"><img class="right" alt="" src="/static/img/dummy/rapisssl.jpg" /></p>
		{{ render_placeholder('end') }}
		{{ render_placeholder('start') }}
		<div class="clearfix"></div>
		{{ render_placeholder('end') }}

		{{ render_placeholder('start') }}
		<div class="left small">
			{{ render_placeholder('start') }}
			<p>djeese is a <span class="plugin_link"><a href="/en/about/">Djeese Factory</a></span> product.</p>
			<p>Riedtlistrasse 23<br/>8006 Zürich<br/>Switzerland </p>
			<p>© 2011 Djeese Factory GmbH</p>
			{{ render_placeholder('end') }}
		</div>
		{{ render_placeholder('end') }}
	</div>
</div>
<div class="clearfix"></div>

<p>&nbsp;</p>

<!-- footer -->
<footer id="footer">
	<div class="container_12 grid_12">
		<div class="footer-nav">
			<div class="left">
				<a href="">djeese</a> is a <a href="/en/about/">Djeese Factory GmbH</a> product |
				<span>Follow us on <a href="http://twitter.com/djeese">twitter</a></span> |
				<span>Add us on <a href="https://plus.google.com/114173724349368321537/?prsrc=3">Google+</a></span>
			</div>
			<div class="right">
				<a href="/en/legal/privacy-policy/">Privacy Policy</a> | <a href="/en/legal/terms-service/">Terms of Service</a> | <a href="/en/legal/site-notice">Site Notice</a> | <a href="http://status.djeese.com">Status</a>
			</div>
		</div>
	</div>
</footer>
