<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
	<title>django CMS</title>
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<!-- meta tags -->
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!-- stylesheets -->
	<link rel="stylesheet" href="/static/css/base.css" />
	{% if not request.args.get('edit') %}<style>.cms_placeholder * { display:none; }</style>{% endif %}
</head>
<body class="no-js tpl_master en anonymus">


{% include 'toolbar/toolbar.html' %}

<!-- load content -->
<div>{% include 'content.html' %}</div>

<!-- include javascript -->
<script src="/static/js/libs/jquery.min.js"></script>
<script src="/static/js/base.js"></script>
</body>
</html>
