#header,#branding h1,#branding h1 a{height:41px;}
#header{background:#fff url('../img/header.jpg') repeat-x 0px -45px;color:#656565;overflow:hidden;border-bottom:2px solid #DDDDDD;}
#header a:link, #header a:visited{color:#656565;}
#header a:hover{text-decoration:underline;}
#branding h1{margin:0;padding:0;color:#656565;font-size:15px;line-height:40px;text-indent:10px;}
#branding h1 a{display:block;background:url('../img/header.jpg') no-repeat 0px 0px;text-indent:-7777px;width:115px;}
#user-tools{position:absolute;top:0;right:0;padding:1.2em 10px;font-size:11px;text-align:right;}


.language_button {
	font-weight:bold;
	margin-bottom:-1px;
	border-color:#ddd #aaa #ccc #ddd !important;
	border:1px;
	background:#fff url('/static/admin/img/admin/nav-bg.gif') repeat-x center bottom !important;
}

#lang_tab_content h2.header {
	margin:0;
	padding:2px 5px 3px 5px;
	font-size:11px;
	text-align:left;
	font-weight:bold;
	background:#7ca0c7 url('/static/admin/img/admin/default-bg.gif') repeat-x left top;
	color:#fff;
}

.notfilled {
    color: #808080 !important;
}

/* responsive hacks */
body { margin:75px 0 0 0; }
.cms-page #container { min-width:0 !important; }
.cms-page #container h1 { display:none; padding:0 0 5px; font-weight:normal; }
.cms-page .help, .cms-page form .aligned p, .cms-page form .aligned ul {
	margin-left:0 !important; padding-left:0 !important; }
.cms-page .field-box label { float:none !important; width:95% !important; }

/* mini toolbar */
#cms_sideframe-controls { position:absolute; left:0; top:0; width:100%; height:41px; overflow:visible;
	background-color:#fcfcfc; /* Old browsers */
	background:-moz-linear-gradient(top, #fcfcfc 0%, #fefefe 50%, #fcfcfc 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(50%,#fefefe), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #fcfcfc 0%,#fefefe 50%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #fcfcfc 0%,#fefefe 50%,#fcfcfc 100%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top, #fcfcfc 0%,#fefefe 50%,#fcfcfc 100%); /* IE10+ */
	background:linear-gradient(to bottom, #fcfcfc 0%,#fefefe 50%,#fcfcfc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */ }

.cms_sideframe-header { font-size:13px; height:28px; padding:12px 0 0 120px;
	background:url('/static/img/toolbar/logo.png') no-repeat 10px top; border-bottom:1px solid #e1e1e1; }
.cms_sideframe-close { display:block; color:#999 !important; text-align:center; padding:3px 0; background:#f6f6f6;
	border-bottom:1px solid #e1e1e1; }
.cms_sideframe-close:hover { color:#6482b0 !important; font-weight:normal; background:#fff;
			background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9));
			background:-moz-linear-gradient(top,  #fff,  #f9f9f9);
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f9f9f9'); }

table { width:100%; }
table th { width:100%; }