/* line 1, ../sass/djeese.scss */
body {
  color: #444;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* LINKS */
/* line 8, ../sass/djeese.scss */
a:link, a:visited {
  color: #398dd5;
}
/* line 10, ../sass/djeese.scss */
a:hover {
  color: #2070b3;
}
/* line 13, ../sass/djeese.scss */
a.section:link, a.section:visited {
  color: #666;
  text-decoration: none;
}

/* GLOBAL DEFAULTS */
/* line 18, ../sass/djeese.scss */
h1 {
  font-size: 150%;
  color: #666;
  padding: 6px 6px 12px 0;
}

/* line 23, ../sass/djeese.scss */
h2 {
  font-size: 130%;
  margin: 1em 0 .5em 0;
}

/* line 28, ../sass/djeese.scss */
h3 {
  color: #666;
  font-size: 120%;
  font-weight: bold;
  margin: 2em 0 0.8em 0 !important;
}

/* line 33, ../sass/djeese.scss */
h4 {
  font-size: 110%;
}

/* line 36, ../sass/djeese.scss */
h5 {
  font-size: 100%;
  color: #444;
  text-transform: uppercase;
}

/* line 41, ../sass/djeese.scss */
code {
  font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
  background: inherit;
  color: #666;
  font-size: 11px;
}

/* line 47, ../sass/djeese.scss */
pre {
  font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
  background: inherit;
  color: #666;
  font-size: 11px;
}
/* line 52, ../sass/djeese.scss */
pre.literal-block {
  background: #eee;
}

/* line 55, ../sass/djeese.scss */
code strong {
  color: #930;
}

/* line 58, ../sass/djeese.scss */
hr {
  color: #eee;
  background-color: #eee;
}

/* TEXT STYLES & MODIFIERS */
/* line 64, ../sass/djeese.scss */
.help, p.help {
  color: #999;
}

/* line 67, ../sass/djeese.scss */
.example {
  background: #efefef;
}

/* TABLES */
/* line 71, ../sass/djeese.scss */
table {
  border-color: #ddd;
}

/* line 74, ../sass/djeese.scss */
td, th {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 8px 10px;
  border-bottom: none;
}

/* line 79, ../sass/djeese.scss */
thead th {
  color: #666;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/* line 84, ../sass/djeese.scss */
tfoot td {
  color: #666;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-bottom: none;
  border-top: 1px solid #ddd;
}

/* line 91, ../sass/djeese.scss */
thead th:first-child, tfoot td:first-child {
  border-left: none !important;
}

/* line 94, ../sass/djeese.scss */
fieldset table {
  border-right: 1px solid #eee;
}

/* line 98, ../sass/djeese.scss */
tr.row-label td {
  color: #666;
}
/* line 100, ../sass/djeese.scss */
tr.alt {
  background: #f6f6f6;
}

/* line 103, ../sass/djeese.scss */
.row1 {
  background: white;
}

/* line 106, ../sass/djeese.scss */
.row2 {
  background: #FCFCFC;
}

/* SORTABLE TABLES */
/* line 112, ../sass/djeese.scss */
thead th a:link, thead th a:visited {
  color: #666;
}

/* line 117, ../sass/djeese.scss */
table thead th.sorted {
  background-position: bottom left !important;
}
/* line 119, ../sass/djeese.scss */
table thead th.ascending a {
  background: url(../img/djeese/arrow-up.gif) right 0.4em no-repeat;
}
/* line 121, ../sass/djeese.scss */
table thead th.descending a {
  background: url(../img/djeese/arrow-down.gif) right 0.4em no-repeat;
}
/* line 123, ../sass/djeese.scss */
table.orderable tbody tr td:first-child {
  background-image: url(../img/djeese/nav-bg-grabber.gif);
  background-repeat: repeat-y;
}

/* ORDERABLE TABLES */
/* FORM DEFAULTS */
/* line 131, ../sass/djeese.scss */
input, textarea, select, .form-row p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* line 135, ../sass/djeese.scss */
input[type=text], input[type=password] {
  border: 1px solid #ccc;
}

/* line 138, ../sass/djeese.scss */
textarea, select, .vTextField {
  border: 1px solid #ccc;
}

/* FORM BUTTONS */
/* line 143, ../sass/djeese.scss */
.button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(white, #e6e6e6);
  background-image: -moz-linear-gradient(white, #e6e6e6);
  background-image: -o-linear-gradient(white, #e6e6e6);
  background-image: -ms-linear-gradient(white, #e6e6e6);
  background-image: linear-gradient(#ffffff, #e6e6e6);
  -moz-box-shadow: white 0 0 2px inset;
  -webkit-box-shadow: white 0 0 2px inset;
  -o-box-shadow: white 0 0 2px inset;
  box-shadow: white 0 0 2px inset;
  background-color: #e6e6e6;
  border: 1px solid #cccccc;
  color: #555555;
  font-weight: bolder;
  overflow: visible;
  padding: 6px 10px 7px;
  text-decoration: none;
  width: auto;
}

/* line 170, ../sass/djeese.scss */
input[type=submit], input[type=button] {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(white, #e6e6e6);
  background-image: -moz-linear-gradient(white, #e6e6e6);
  background-image: -o-linear-gradient(white, #e6e6e6);
  background-image: -ms-linear-gradient(white, #e6e6e6);
  background-image: linear-gradient(#ffffff, #e6e6e6);
  -moz-box-shadow: white 0 0 2px inset;
  -webkit-box-shadow: white 0 0 2px inset;
  -o-box-shadow: white 0 0 2px inset;
  box-shadow: white 0 0 2px inset;
  background-color: #e6e6e6;
  border: 1px solid #cccccc;
  color: #555555;
  font-weight: bolder;
  overflow: visible;
  padding: 6px 10px 7px;
  text-decoration: none;
  width: auto;
}

/* line 196, ../sass/djeese.scss */
.submit-row input {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(white, #e6e6e6);
  background-image: -moz-linear-gradient(white, #e6e6e6);
  background-image: -o-linear-gradient(white, #e6e6e6);
  background-image: -ms-linear-gradient(white, #e6e6e6);
  background-image: linear-gradient(#ffffff, #e6e6e6);
  -moz-box-shadow: white 0 0 2px inset;
  -webkit-box-shadow: white 0 0 2px inset;
  -o-box-shadow: white 0 0 2px inset;
  box-shadow: white 0 0 2px inset;
  background-color: #e6e6e6;
  border: 1px solid #cccccc;
  color: #555555;
  font-weight: bolder;
  overflow: visible;
  padding: 6px 10px 7px;
  text-decoration: none;
  width: auto;
}

/* line 222, ../sass/djeese.scss */
.button:hover {
  background: #ffffff;
}

/* line 226, ../sass/djeese.scss */
input[type=submit]:hover, input[type=button]:hover {
  background: #ffffff;
}

/* line 229, ../sass/djeese.scss */
.submit-row input:hover {
  background: #ffffff;
}

/* line 232, ../sass/djeese.scss */
.button:active {
  background: #e6e6e6;
  color: #555555;
}

/* line 237, ../sass/djeese.scss */
input[type=submit]:active, input[type=button]:active {
  background: #e6e6e6;
  color: #555555;
}

/* line 241, ../sass/djeese.scss */
.button[disabled] {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(100%, #efefef));
  background-image: -webkit-linear-gradient(white, #efefef);
  background-image: -moz-linear-gradient(white, #efefef);
  background-image: -o-linear-gradient(white, #efefef);
  background-image: -ms-linear-gradient(white, #efefef);
  background-image: linear-gradient(#ffffff, #efefef);
  -moz-box-shadow: white 0 0 2px inset;
  -webkit-box-shadow: white 0 0 2px inset;
  -o-box-shadow: white 0 0 2px inset;
  box-shadow: white 0 0 2px inset;
  background-color: #efefef;
  border: 1px solid #eeeeee;
  color: #bbbbbb;
  cursor: default;
}

/* line 258, ../sass/djeese.scss */
input[type=submit][disabled], input[type=button][disabled] {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(100%, #efefef));
  background-image: -webkit-linear-gradient(white, #efefef);
  background-image: -moz-linear-gradient(white, #efefef);
  background-image: -o-linear-gradient(white, #efefef);
  background-image: -ms-linear-gradient(white, #efefef);
  background-image: linear-gradient(#ffffff, #efefef);
  -moz-box-shadow: white 0 0 2px inset;
  -webkit-box-shadow: white 0 0 2px inset;
  -o-box-shadow: white 0 0 2px inset;
  box-shadow: white 0 0 2px inset;
  background-color: #efefef;
  border: 1px solid #eeeeee;
  color: #bbbbbb;
  cursor: default;
}

/* line 274, ../sass/djeese.scss */
.button.default, input[type=submit].default, .submit-row input.default {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #82b7e4), color-stop(100%, #398dd5));
  background-image: -webkit-linear-gradient(#82b7e4, #398dd5);
  background-image: -moz-linear-gradient(#82b7e4, #398dd5);
  background-image: -o-linear-gradient(#82b7e4, #398dd5);
  background-image: -ms-linear-gradient(#82b7e4, #398dd5);
  background-image: linear-gradient(#82b7e4, #398dd5);
  -moz-box-shadow: #82b7e4 0 0 2px inset;
  -webkit-box-shadow: #82b7e4 0 0 2px inset;
  -o-box-shadow: #82b7e4 0 0 2px inset;
  box-shadow: #82b7e4 0 0 2px inset;
  background-color: #398dd5;
  border: 1px solid #3b8ed5;
  color: white;
}

/* line 289, ../sass/djeese.scss */
.button.default:hover, input[type=submit].default:hover, .submit-row input.default:hover {
  background: #82b7e4;
}

/* line 292, ../sass/djeese.scss */
.button.default:active, input[type=submit].default:active {
  background: #398dd5;
}

/* line 295, ../sass/djeese.scss */
.button[disabled].default {
  opacity: 0.4;
}

/* line 299, ../sass/djeese.scss */
input[type=submit][disabled].default, input[type=button][disabled].default {
  opacity: 0.4;
}

/* MODULES */
/* line 304, ../sass/djeese.scss */
.module {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #ddd;
  background: white;
}
/* line 313, ../sass/djeese.scss */
.module h2, .module caption {
  background: #f1f1f1 url(../img/djeese/default-bg.gif) top left repeat-x !important;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #ddd;
  color: #666;
  padding: 8px 10px;
}

/* line 325, ../sass/djeese.scss */
.inline-group h2 {
  background: #f1f1f1 url(../img/djeese/default-bg.gif) top left repeat-x !important;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #ddd;
  color: #666;
  padding: 8px 10px;
}

/* line 338, ../sass/djeese.scss */
.module.collapsed h2 {
  border-bottom: none;
}
/* line 340, ../sass/djeese.scss */
.module tr {
  border-bottom: 1px solid #ddd;
}
/* line 342, ../sass/djeese.scss */
.module tr:last-child {
  border-bottom: none;
}

/* MESSAGES & ERRORS */
/* line 347, ../sass/djeese.scss */
ul.messagelist li {
  color: #444;
  background-color: #f5faff;
  font-weight: bold;
  padding: 10px 5px 10px 40px;
  background-position: 10px 0.8em;
}
/* line 353, ../sass/djeese.scss */
ul.messagelist li.warning {
  background-image: url(../img/djeese/icon_alert.gif);
}
/* line 355, ../sass/djeese.scss */
ul.messagelist li.error {
  background-image: url(../img/djeese/icon_error.gif);
}

/* line 358, ../sass/djeese.scss */
.errornote {
  border: 1px solid red;
  color: red;
  background: #ffffcc url(../img/djeese/icon_error.gif) 5px 0.3em no-repeat;
}

/* line 363, ../sass/djeese.scss */
.errorlist li {
  border: 1px solid red;
  color: white;
  background: red url(../img/djeese/icon_alert.gif) 5px 0.3em no-repeat;
}
/* line 367, ../sass/djeese.scss */
.errorlist li a {
  color: white;
  text-decoration: underline;
}

/* line 371, ../sass/djeese.scss */
.errors {
  background: #ffc;
}
/* line 373, ../sass/djeese.scss */
.errors input, .errors select, .errors textarea {
  border: 1px solid red;
}

/* line 377, ../sass/djeese.scss */
div.system-message {
  background: #ffc;
}
/* line 379, ../sass/djeese.scss */
div.system-message p.system-message-title {
  color: red;
  background: #ffffcc url(../img/djeese/icon_error.gif) 5px 0.3em no-repeat;
}
/* line 382, ../sass/djeese.scss */
div.breadcrumbs {
  background: white url(../img/djeese/nav-bg-reverse.gif) 0 -10px repeat-x;
  color: #999;
  border-top: 1px solid white;
  border-bottom: 1px solid #ddd;
}

/* BREADCRUMBS */
/* ACTION ICONS */
/* line 392, ../sass/djeese.scss */
.addlink {
  background: url(../img/djeese/icon_addlink.gif) 0 0.2em no-repeat;
}

/* line 395, ../sass/djeese.scss */
.changelink {
  background: url(../img/djeese/icon_changelink.gif) 0 0.2em no-repeat;
}

/* line 398, ../sass/djeese.scss */
.deletelink {
  background: url(../img/djeese/icon_deletelink.gif) 0 0.25em no-repeat;
}

/* line 402, ../sass/djeese.scss */
a.deletelink:link, a.deletelink:visited {
  color: #ef4a4a!important;
}
/* line 404, ../sass/djeese.scss */
a.deletelink:hover {
  color: #d50101!important;
}

/* OBJECT TOOLS */
/* line 410, ../sass/djeese.scss */
.object-tools li {
  background: url(../img/djeese/tool-left.gif) 0 0 no-repeat;
  height: 18px;
}
/* line 413, ../sass/djeese.scss */
.object-tools li:hover {
  background: url(../img/djeese/tool-left_over.gif) 0 0 no-repeat;
}
/* line 416, ../sass/djeese.scss */
.object-tools a:link, .object-tools a:visited {
  color: white;
  background: #bbbbbb url(../img/djeese/tool-right.gif) 100% 0 no-repeat;
  height: 16px;
  padding-top: 0.2em;
  padding-bottom: 0em;
}
/* line 422, ../sass/djeese.scss */
.object-tools a:hover {
  background: #3b8ed5 url(../img/djeese/tool-right_over.gif) 100% 0 no-repeat;
}
/* line 424, ../sass/djeese.scss */
.object-tools li:hover a {
  background: #3b8ed5 url(../img/djeese/tool-right_over.gif) 100% 0 no-repeat;
}
/* line 427, ../sass/djeese.scss */
.object-tools a.viewsitelink, .object-tools a.golink {
  background: #bbbbbb url(../img/djeese/tooltag-arrowright.gif) top right no-repeat;
}
/* line 429, ../sass/djeese.scss */
.object-tools a.viewsitelink:hover, .object-tools a.golink:hover {
  background: #3b8ed5 url(../img/djeese/tooltag-arrowright_over.gif) top right no-repeat;
}
/* line 431, ../sass/djeese.scss */
.object-tools a.addlink {
  background: #bbbbbb url(../img/djeese/tooltag-add.gif) top right no-repeat;
}
/* line 433, ../sass/djeese.scss */
.object-tools a.addlink:hover {
  background: #3b8ed5 url(../img/djeese/tooltag-add_over.gif) top right no-repeat;
}

/* OBJECT HISTORY */
/* PAGE STRUCTURE */
/* COLUMN TYPES */
/* HEADER */
/* line 444, ../sass/djeese.scss */
#header {
  background: #464b50 url(../img/djeese/toolbar_bg.gif) top left repeat;
  color: #fff;
}
/* line 448, ../sass/djeese.scss */
#header a:link, #header a:visited {
  color: white;
}
/* line 450, ../sass/djeese.scss */
#header a:hover {
  text-decoration: underline;
}

/* line 454, ../sass/djeese.scss */
#branding h1 {
  background: transparent url(../img/djeese/djeese_logo_white.png) top left no-repeat;
  padding: 0;
  margin-left: 15px;
  text-indent: -1000em;
  height: 25px;
  width: 65px;
  color: #fff;
}
/* line 462, ../sass/djeese.scss */
#branding h2 {
  color: #fff;
}

/* SIDEBAR */
/* line 468, ../sass/djeese.scss */
#content-related h3 {
  color: #666;
}
/* line 470, ../sass/djeese.scss */
#content-related .module h2 {
  background: #f1f1f1 url(../img/djeese/default-bg.gif) top left repeat-x;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #ddd;
}

/* FORMS */
/* line 482, ../sass/djeese.scss */
.submit-row {
  background: #f1f1f1 url(../img/djeese/default-bg.gif) top left repeat-x;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background: white url(../img/djeese/default-bg.gif) 0 100% repeat-x !important;
  border: 1px solid #ddd!important;
}
/* line 492, ../sass/djeese.scss */
.submit-row p.deletelink-box {
  line-height: 200%!important;
}
/* line 494, ../sass/djeese.scss */
.submit-row .deletelink {
  background: url(../img/djeese/icon_deletelink.gif) 0 50% no-repeat !important;
}

/* line 497, ../sass/djeese.scss */
.form-row:last-child {
  border-bottom: none;
}

/* CHANGELIST */
/* line 503, ../sass/djeese.scss */
#changelist .paginator {
  color: #444!important;
  border-top: 1px solid #ddd!important;
  border-bottom: none!important;
  background: white url(../img/djeese/default-bg.gif) 0 100% repeat-x !important;
}
/* line 508, ../sass/djeese.scss */
#changelist .actions {
  color: #444!important;
  border-bottom: 1px solid #ddd!important;
  background: #f1f1f1 url(../img/djeese/default-bg.gif) top left repeat-x !important;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
/* line 518, ../sass/djeese.scss */
#changelist #toolbar {
  padding: 3px;
  border-bottom: 1px solid #ddd;
  color: #444!important;
  border-bottom: 1px solid #ddd!important;
  background: #f1f1f1 url(../img/djeese/default-bg.gif) top left repeat-x !important;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

/* line 531, ../sass/djeese.scss */
#changelist-filter-button {
  background: #f1f1f1 url(../img/djeese/default-bg.gif) top left repeat-x !important;
  border-bottom: 1px solid #ddd!important;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -o-border-radius: 0 5px 0 0;
  -ms-border-radius: 0 5px 0 0;
  -khtml-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
  line-height: 29px!important;
}

/* DASHBOARD */
/* line 544, ../sass/djeese.scss */
.dashboard .module table td a {
  line-height: 14px;
}

/* CMS */
/* line 549, ../sass/djeese.scss */
.plugin-submit-row input[name="_cancel"] {
  margin-left: 0!important;
}

/* line 552, ../sass/djeese.scss */
.plugin-holder {
  background: url(../img/djeese/pluginlist-holder-bg.gif) repeat-y !important;
}

/* line 555, ../sass/djeese.scss */
ul.plugin-list li {
  border-bottom: 1px solid #ddd!important;
  background-image: url(../img/djeese/sitemap-li-bg.jpg) !important;
  color: #398dd5!important;
}
/* line 559, ../sass/djeese.scss */
ul.plugin-list li:hover {
  color: #fff!important;
}

/* line 562, ../sass/djeese.scss */
#sitemap li .cont {
  background-image: url(../img/djeese/sitemap-li-bg.jpg) !important;
}

/* LOGIN FORM */
/* line 567, ../sass/djeese.scss */
body.login {
  background: #fcfcfc!important;
}

/* line 571, ../sass/djeese.scss */
.login #container {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
/* line 578, ../sass/djeese.scss */
.login #header {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
/* line 585, ../sass/djeese.scss */
.login .submit-row {
  padding: 0;
  float: right;
  background: none!important;
  border: none!important;
}
